# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\שראל\PycharmProjects\HeidiLischer-refguideddenovoassembly_pipelines-30a99561c9fc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
